<div class="input-form">
    <div>
        <h1>UrlShortener</h1>
    </div>
    <div>
        <p>A quick tool for making URL shorter</p>
    </div>
    <form action="" method="post">
        <div class="input-url">
            <input id="url" name="url" placeholder="Insert you URL here">
            <button type="submit">Shorten URL</button>
        </div>
        @if (@ViewData.ContainsKey("ErrorMsg"))
        {
            <div class="input-url-error">Invalid URL</div>

        }
    </form>
</div>