<div class="input-form">
    <div>
        <h1>Preview Shortened URL</h1>
    </div>
    <div>
        <div>
            Your newly shorten URL:
        </div>
        <div><a href="@ViewData["ShortenedUrl"]">@ViewData["ShortenedUrl"]</a></div>
    </div>
</div>